<% if(message.length > null) { %>
<div class="alert alert-success alert-dismissible fade show" role="alert">
  <span><i class="fas fa-check-circle mr-2"></i> <%= message %></span>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<% } %>

<% if(validates.length > 0) { %>
<% validates.forEach(validate=> { %>
<div class="text-center bg-danger text-white rounded my-3 py-2">
  <span><%= validate.message %></span>
</div>
<% }); %>
<% } %>

<div class="row mb-3">
  <div class="col-auto">
    <a href="/schools" class="btn btn-primary btn-sm"><i class="fas fa-arrow-left"></i> Kembali</a>
  </div>
</div>

<div class="row">
  <div class="col-md-12 mb-4">
    <div class="card bg-primary text-white shadow">
      <div class="card-body">
        <div>
          <div class="gap-3">
            <div class="mb-1"><%= schools.name %></div>
            <div class="text-white-50 small mb-1"><i class="far fa-dot-circle"></i> Teacher: <%= schools.teacher %></div>
            <div class="text-white-50 small mb-1"><i class="far fa-dot-circle"></i> Contact: <%= schools.contact %></div>
            <div class="text-white-50 small mb-1"><i class="far fa-dot-circle"></i> Date: <%= moment(schools.createdAt).format('LL') %></div>
            <div class="text-white-50 small mb-1"><i class="far fa-dot-circle"></i> Address: <%= schools.address %></div>
            <div class="text-white-50 small mb-1"><i class="far fa-dot-circle"></i> Status: <%= schools.status == true ? 'Aktif' : 'Tidak aktif' %></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>