<% if(message.length > null) { %>
<div class="alert alert-success alert-dismissible fade show" role="alert">
  <span><i class="fas fa-check-circle mr-2"></i> <%= message %></span>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<% } %>

<% if(validates.length > 0) { %>
<% validates.forEach(validate=> { %>
<div class="text-center bg-danger text-white rounded my-3 py-2">
  <span><%= validate.message %></span>
</div>
<% }); %>
<% } %>

<div class="row">
  <div class="col-md-5 mb-4">
    <div class="card bg-primary text-white shadow">
      <div class="card-body">
        <div class="d-flex align-items-center justify-content-start">
          <div class="mr-3">
            <i class="fas fa-check-circle fa-2x"></i>
          </div>
          <div class="mr-3">
            <%= school.name %>
            <div class="text-white-50 small"><%= school.address %></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3 mb-4">
    <div class="card bg-primary text-white shadow">
      <div class="card-body">
        <div class="d-flex align-items-center">
          <div class="mr-3">
            <i class="fas fa-user-circle fa-2x"></i>
          </div>
          <div>
            <%= school.teacher %>
            <div class="text-white-50 small"><%= school.contact %></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>